* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 600px) {
        .container {
            flex-direction: column;
        }
    }

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: #F5E9D3;
    color: #3E3A39;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background: #C98F56;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-size: 1.8rem;
    font-weight: bold;
    color: #000000;
}

nav a {
    margin-left: 1.5rem;
    text-decoration: none;
    font-weight: 500;
    color: #F2E3C6;
    transition: 0.3s;
}

nav a:hover {
    color: #B87333;
}

.banner {
    height: 70vh;
    background: url('a.png') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    position: relative;
}

.banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.15);
}

.banner-content {
    position: relative;
    z-index: 2;
}

.banner-content h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.8rem 1.6rem;
    background: #3E3A39;
    color: #C98F56;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #3E3A39;
}

#produtos {
    margin-top: 4rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin-top: 40px;
}

.card {
    background: #C98F56;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.5);
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 25px rgba(0,0,0,0.15);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}

.price {
    margin: 8px 0;
    font-weight: bold;
    color: #B87333;
}

.contato {
    margin-top: 4rem;
    text-align: center;
    padding-bottom: 4rem;
}

footer {
    background: #C98F56;
    color: #F2E3C6;
    text-align: center;
    padding: 1.2rem 0;
    margin-top: 4rem;
}
.brand {
    text-decoration: none;
    color: #F2E3C6; 
}
.banner-content p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: #776f61;
}
.banner-content h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #776f61;
    margin-bottom: 1rem;
}

.promo {
    margin-top: 4rem;
    background: #1A1A1A; 
    padding: 3rem 0;
    text-align: center;
    color: #F2E3C6;
}

.promo-titulo {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #F2E3C6;
}

.promo-card {
    background: #C98F56;
    width: 90%;
    max-width: 650px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.5);
    text-align: center;
}

.promo-img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 1.2rem;
}

.promo-nome {
    font-size: 1.8rem;
    font-weight: bold;
    color: #3E3A39;
    margin-bottom: 0.5rem;
}

.promo-descricao {
    color: #3E3A39;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.promo-preco {
    font-size: 1.2rem;
    font-weight: bold;
    color: #3E3A39;
    margin-bottom: 1.5rem;
}

.promo-preco-destaque {
    color: #B87333;
    font-size: 1.5rem;
}


