@charset "UTF-8";

* {
    font-family: Arial , Helvetica, Arial, Helvetica, sans-serif;
}
 
body {
    background-image:linear-gradient(to right,#8FC1B5,#589A8D)
}
main{
    background-color: #ffff;
    width:600px;
    padding: 10px;
    margin: auto;
    border-radius:10px;
    box-shadow:5px 5px 15px #17332d84;
}
 h1{
    color:#007566;
    text-align: center;
    text-shadow: 1px 1px 0px  #1e655ebb;
 }
 h2{
    color: #275950; 
 }
 


p {
    text-align: justify;
}


