
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    font-family: Arial, sans-serif;
    background-color: rgb(128, 128, 128);
}

h1, h2, p, button, img {
    margin: 10px;
}
button {
    background-color: #ff9d00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #ff9d00;
}
img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}
