:root {
  --gold: #c7a567;
  --bronze: #b5651d;
  --cream: #f2e9e4;
  --gray: #2a2a2a;
  --dark: #0d1b2a;
}

body { 
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg, var(--dark), var(--gray));
  color: var(--cream);
}

main {
  max-width: 900px;
  margin: 40px auto;
  padding: 35px;
  background: #1b1f29;
  border-radius: 18px;
  box-shadow: 0 0 40px rgba(0,0,0,0.4);
}


h1, h2 {
  font-family: "Cinzel", serif;
  color: var(--gold);
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

h2 {
  margin-top: 35px;
  font-size: 2rem;
}


p, li {
  font-size: 1.25rem;
  line-height: 1.7;
  color: #f5f5f5;
}

ul.lista {
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
}


img {
  width: 70%;
  display: block;
  margin: 30px auto;
  border-radius: 14px;
  border: 3px solid var(--gold);
  box-shadow: 0 6px 25px rgba(0,0,0,0.5);
}


.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 25px;
}

.card {
  background: var(--gray);
  padding: 25px;
  border-radius: 14px;
  width: 260px;
  border: 2px solid rgba(199,165,103,0.4);
  box-shadow: 0 4px 15px rgba(0,0,0,0.45);
  transition: .3s;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 28px rgba(199,165,103,0.5);
}

.card h3 {
  color: var(--gold);
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.card p {
  color: #eee;
}
